@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Permanent+Marker&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    height:20%;
}
.title{
    width:30%;
}
.logo{
    position:absolute;
    left:1em;
    width:6em;
    height: 6em;
}
h1{
    display: inline-block;
    width:4em;
    font-size: 2em;
    font-family: 'Palette Mosaic', cursive;
    position:absolute;
    left:4.5em;
}
nav{
    position:absolute;
    right:0;
    width:70%;
   
}
li{
    display: inline-block;
    text-align: right;
    color:#222;
    font-size: 1.5em;
    width:20%;
    line-height: 4em;
    font-family: 'Roboto', sans-serif;
    
}
li:hover{
    color:rgb(228, 22, 22);
    cursor: pointer;
}
.body{
    height:80%;
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(233, 238, 240);
}
.main{
    position:absolute;
    left:3em;
    height:25em;
    width:35em;
}
a{
    text-decoration: none;
    color: black;
}
