@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Inconsolata', monospace;
}
label{
    font-size: 1em;
}
input{
    font-size: 0.8em;
}

.form{
    position:absolute;
    left:36%;
    top:5%;
    width:35%;
    height:90%;
    border:1px solid #333;
    padding:2em;
}
.form h1{
    text-align: center;
    font-family: 'Syne Mono', monospace;
}
.first{
    position:absolute;
    left:8%;
}
.second{
    position:absolute;
    right:8%;
    text-align: left;
}
.long{
    width:100%;
}
.first,.second,.long{
    border:none;
    border-bottom: 1px solid #333;
    padding:0.2em;
}
.first,.second,.long:focus{
    outline:none;
    background-color: none;
}


input:-moz-autofill {
    background: none;
}
input[type=button]{
    font-size: 1.2em;
    width:7em;
    height:2em;
    position:absolute;
    left:37%;
    background-color:rgba(73, 73, 73, 0.8);
    color:white;
    border:none;
    cursor:pointer;
    transition-duration: 0.4s;
}
input[type=button]:hover{
     background-color: black;
}